<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>David DeGea</string>
		<key>Position</key>
		<string>GK</string>
		<key>Number</key>
		<string>01</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Phil Jones</string>
		<key>Position</key>
		<string>CB</string>
		<key>Number</key>
		<string>04</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Marcos Rojo</string>
		<key>Position</key>
		<string>CB</string>
		<key>Number</key>
		<string>05</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Luke Shaw</string>
		<key>Position</key>
		<string>LB</string>
		<key>Number</key>
		<string>03</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Matteo Darmian</string>
		<key>Position</key>
		<string>RB</string>
		<key>Number</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bastian Schwiensteiger</string>
		<key>Position</key>
		<string>CM</string>
		<key>Number</key>
		<integer>23</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Michael Carrick</string>
		<key>Position</key>
		<string>CDM</string>
		<key>Number</key>
		<integer>16</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lionel Cristiano Young</string>
		<key>Position</key>
		<string>LM</string>
		<key>Number</key>
		<integer>18</integer>
	</dict>
	<dict>
		<key>Name</key>
		<string>Juan Mata</string>
		<key>Position</key>
		<string>RM</string>
		<key>Number</key>
		<string>08</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Memphis Depay</string>
		<key>Position</key>
		<string>CAM</string>
		<key>Number</key>
		<string>09</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Wayne Rooney</string>
		<key>Position</key>
		<string>ST</string>
		<key>Number</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
